.form {
  margin-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
    padding-left: 64px;
    padding-right: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 87px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.form__form {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 640px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__group--legend {
  @media (min-width: @tablet-width) {
    border-top: 1px solid #e5ddd5;
  }
}

.form__group-title {
  display: block;
  width: 100%;
  margin-bottom: 36px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 27px;

  @media (min-width: @tablet-width) {
    width: 380px;
    margin: 0 auto;
    margin-bottom: 37px;
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

/*Data*/

.form__group--data {
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 65px;
  }
}

.form__group--data input {
  width: 100%;
  padding: 9px 19px 11px 19px;
  border: 1px solid #e5e5e5;
  font: inherit;
  color: #000000;
  font-size: 18px;
  line-height: 30px;

  &::placeholder {
    color: #000000;
  }

  &:hover {
    border-color: #d5c9bd;
  }

  &:focus {
    outline: 4px solid fade(#007dfa, 60%);
  }

  @media (min-width: @tablet-width) {
    padding: 20px 25px;
    font-size: 24px;
  }
}

.form__contacts-name {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    gap: 0;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    gap: 37px;
  }
}

.form__contacts-name input {
  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}

.form__contacts-data {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    gap: 35px;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.form__other-info {
  width: 100%;
  resize: none;
  padding: 9px 19px 11px 19px;
  border: 1px solid #e5e5e5;
  font: inherit;
  color: #000000;
  font-size: 18px;
  line-height: 30px;

  &::placeholder {
    color: #000000;
  }

  &:hover {
    border-color: #d5c9bd;
  }

  &:focus {
    outline: 4px solid fade(#007dfa, 60%);
  }

  @media (min-width: @tablet-width) {
    height: 211px;
    padding: 20px 25px;
    font-size: 24px;
  }
}

/*Beard*/

.form__group--beard {
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 62px;
  }
}

.form__beards-list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
  gap: 31px 42px;

  @media (min-width: @tablet-width) {
    gap: 31px 47px;
  }

  @media (min-width: @desktop-width) {
    gap: 31px 127px;
  }
}

.form__beard-item {
  width: 65px;

  @media (min-width: @tablet-width) {
    width: 90px;
  }
}

.form__beard {
  display: block;
  text-align: center;
}

.form__beard-radio-mark {
  position: relative;
  display: block;
  width: 52px;
  height: 52px;
  border: 1px solid #e5ddd5;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }
}

.form__beard:hover > .form__beard-radio-mark {
  border-color: #d5c9bd;
}

.form__beard > input:focus + .form__beard-radio-mark {
  outline: 4px solid fade(#007dfa, 60%);
}

.form__beard:active > .form__beard-radio-mark {
  background-color: #d5c9bd;
}

.form__beard > input:checked + .form__beard-radio-mark::before {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #826550;
  content: "";
}

.form__beard-text {
  display: block;
  margin-bottom: 10px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 29px;
    font-size: 24px;
    line-height: 24px;
  }
}

.form__beard-icon {
  display: block;
  margin: 0 auto;
}

/*Services*/

.form__group--services {
  margin-bottom: 47px;

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
  }
}

.form__group--services legend {
  @media (min-width: @desktop-width) {
    &::after {
      content: ":";
    }
  }
}

.form__services-list {
  .list-reset();
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 47px 0;
  }
}

.form__services-item {
  @media (min-width: @tablet-width) {
    width: 320px;
  }
}

.form__services-label {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-right: 20px;
    font-size: 24px;
    line-height: 24px;
  }
}

.form__services-checkbox-mark {
  position: relative;
  width: 36px;
  height: 36px;
  margin-right: 25px;
  border: 1px solid #e5ddd5;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    margin-right: 24px;
  }
}

.form__services-label:hover > .form__services-checkbox-mark {
  border-color: #d5c9bd;
}

.form__services-label input:focus + .form__services-checkbox-mark {
  outline: 4px solid fade(#007dfa, 60%);
}

.form__services-label:active > .form__services-checkbox-mark {
  background-color: #d5c9bd;
}

.form__services-label input:checked + .form__services-checkbox-mark {
  background-image: url("../img/form/checkbox-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*Submit*/

.form__submit-button {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 12px 12px 12px;
  background-color: #826550;
  color: #ffffff;
  font: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;

  &:hover {
    background-color: #6a4d38;
  }

  &:active {
    background-color: #6a4d38;
    color: fade(#ffffff, 30%);
  }

  &:disabled, &:disabled:hover, &:disabled:active {
    background-color: #aeaeae;
    color: #ffffff;
    cursor: default;
  }

  @media (min-width: @tablet-width) {
    padding: 20px 20px 20px 19px;
    font-size: 24px;
  }
}
